.App {
  max-width: 500px;
  margin: 0 auto;
  padding: 3rem 1rem;
}

.App h1 {
  text-align: center;
  margin-bottom: 2rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: #fff;
  padding: 2rem;
  border-radius: 2rem;
  margin-bottom: 2rem;
}

form input {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
}

form button {
  padding: 0.5rem;
  background-color: #cbcffa;
  color: #fff;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
}

form button:hover {
  background-color: #a9a1f7;
}

.user-list {
  background-color: #fff;
  padding: 2rem;
  border-radius: 2rem;
}
